.cart-item {
  display: flex;
  padding: 0.8em;
  border: 1px solid lightgray;
  margin-top: 5px;

  &__image {
    margin-right: 20px;
    height: 150px;
    object-fit: contain;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    border: none;
    background-color: #e79b38;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.3em;

    &:hover {
      opacity: 0.9;
    }

    & span {
      margin-right: 1em;
    }
  }
}
