.cart-item {
  display: flex;
  padding: 0.8em;
  border: 1px solid lightgray;
  margin-top: 10px;
  max-width: 900px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transition: 150ms ease-out;

  &:hover {
    transform: scale(1.01);
  }

  &__image {
    margin-right: 20px;
    height: 150px;
    object-fit: contain;
    flex: 2;
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 8;
  }

  &__button {
    border: none;
    background-color: #e79b38;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.3em;
    width: 200px;

    &:hover {
      opacity: 0.9;
    }

    & span {
      margin-right: 1em;
    }
  }
}
